<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Angular js part 1</title>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
</head>
<body>
	 <div ng-app ng-init="users=[
	                                {'name':'Layna','age':'55'},
	                                {'name':'Kamal','age':'35'},
	                                {'name':'Jone','age':'22'},
	                                {'name':'Shawkat','age':'27'}

	                   ]">

	 	<input type="text" name="name" ng-model='name'>
	 	<div ng-repeat='x in users|filter :name'>

	 		{{x.name+":"+x.age}}
	 	</div>
	

	 </div>
</body>
</html>