<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Angular js part 1</title>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
</head>
<body>
	 <div ng-app>
	 	{{8+10}}

	 	<input type="text" name="name" ng-model='name'>
	 	{{name}}
	 </div>
</body>
</html>